* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    z-index: 2;
    display: flex;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-1);

}

.container .navbar__button {
    margin-bottom: 20px;
    color: var(--color-3);
    background-color: var(--color-1);
    border: 1px solid rgba(99, 99, 99, 0.148);
    padding: 20px 8vw;
    margin-bottom: 10px;
    font-family: var(--font-1);
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.navbar__button:nth-child(1) {
    display: none;
}

.fa-solid {
    font-size: 50px;
}

@media screen and (max-width:1375px) {
    .container {
        flex-direction: column;
        background-color: unset;
        width: 100%;

    }

    .navbar__button:nth-child(1) {
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .navbar__button:not(:nth-child(1)) {

        transform: translateY(-1000%);
        transition: 1s transform;
    }
}

.open__navbar {
    display: unset !important;
    transform: translateY(0) !important;
    transition: 1s transform;
}

.menuVisible {
    background-color: var(--color-1);
    transition: 1s background-color;
}