<div class="grid">
    <div class="container__grid">
        <div class="container">
            <div class="form">
                <h1>SEND ME A MESSAGE</h1>

                <form action="">
                    <div class="input-box">
                        <input type="text" name="" id="" required>
                        <label for="">Your Name</label>
                    </div>
                    <div class="input-box">
                        <input type="text" name="" id="" required>
                        <label for="">Your Email</label>
                    </div>
                    <div class="input-box">
                        <input type="text" name="" id="" required>
                        <label for="">Subject</label>
                    </div>
                    <div class="box__submit">
                        <textarea id="w3review" name="w3review" rows="4" cols="50"
                            placeholder="Your message"></textarea>
                        <button class="sumbit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- <div class="footer"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
            <path d="M-26.24,-36.00 C216.98,257.08 393.06,-81.39 511.00,40.97 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill: var(--color-5);"></path>
        </svg></div> -->
        
    </div>
</div>