<div class="about__grid">
    <div class="about__container">
        <div class="title__shadow">
            About me
            <div class="title__front">Know Me More</div>
        </div>
        <div class="about__about-me">
            <p class="about__body">
                I'm leandro almirón, full stack developer. My forte is front-end developer.
                I would like to start in cybersecurity, this is my dream since I was a child.
                I love learning about technology whenever I can or in my free time.
            </p>
        </div>
        <div class="about__about-mydatas">
            <div>Email:
                <a class="email" href="mailto:leandroealmiron@hotmail.com">Leandroealmiron@hotmail.com</a>
            </div>
            <div class="age">Age: 25</div>
            <div class="from">From: Argentina, Buenos Aires</div>
        </div>
        <button class="about__cv">Download CV</button>
    </div>
    <!-- <div class="decorate" style="height: 200px; overflow: hidden;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill:   rgba(61, 60, 60, 0.308);"></path>
        </svg>
    </div> -->
</div>