<div class="grid__container">
    <div class="title__container">
        <h1 class="title__works">Works</h1>
        <div class="body__works_texts">Here you can see the projects i have worked on</div>
    </div>
    <div class="works__containers">
        <div class="card_work_container">
            <div class="works">
                <div class="container__img">
                    <img src="https://i.postimg.cc/zvprZ2Rc/primer-portafolio.jpg" alt="">
                    <div class="container__img__hover">
                        <h1>Tecnologies</h1>
                        <div class="technologies">
                            <div class="items__technology">Angular</div>
                            <div class="items__technology">typescript</div>
                            <div class="items__technology">bootstrap</div>
                            <div class="items__technology">Scss</div>
                        </div>
                    </div>
                </div>
                <div class="container__body">
                    <h1 class="title__body">Portfolio</h1>
                    <p>This is a simple portfolio</p>
                </div>

                <div class="container__icons">
                    <div> <a href="https://github.com/AlmironLeandro/portafolio" target="_blank"
                            rel="noopener noreferrer">
                            <i class="fa-brands fa-github"></i>
                        </a></div>
                    <div> <a href="https://almironleandro.github.io/portafolio/" target="_blank"
                            rel="noopener noreferrer"><i class="fa-solid fa-earth-americas"></i></a> </div>
                </div>
            </div>

            <div class="works">
                <div class="container__img">
                    <img src="https://i.postimg.cc/Y0tHPBjF/minimalism-website.jpg" alt="">
                    <div class="container__img__hover">
                        <h1>Tecnologies</h1>
                        <div class="technologies">
                            <div class="items__technology">Javascript</div>
                            <div class="items__technology">html</div>
                            <div class="items__technology">CSS</div>
                        </div>
                    </div>
                </div>

                <div class="container__body">
                    <h1 class="title__body">Mimimalism website</h1>
                    <p>First animation with css</p>
                </div>

                <div class="container__icons">
                    <div> <a href="https://github.com/AlmironLeandro/Minimalism_Landing_page" target="_blank"
                            rel="noopener noreferrer">
                            <i class="fa-brands fa-github"></i>
                        </a></div>
                    <div> <a href="https://almironleandro.github.io/Minimalism_Landing_page/" target="_blank"
                            rel="noopener noreferrer"><i class="fa-solid fa-earth-americas"></i></a> </div>
                </div>



            </div>



            <div class="works">
                <div class="container__img">
                    <img src="https://i.postimg.cc/mZSRHk6y/website-pedidos-Now.jpg" alt="">
                    <div class="container__img__hover">
                        <h1>Tecnologies</h1>
                        <div class="technologies">
                            <div class="items__technology">Angular</div>
                            <div class="items__technology">typescript</div>
                            <div class="items__technology">firebase</div>
                            <div class="items__technology">bootstrap</div>
                        </div>
                    </div>
                </div>
                <div class="container__body">
                    <h1 class="title__body">PedidosNow</h1>
                    <p>It's a website for delivery hamburgers</p>
                </div>

                <div class="container__icons">
                    <div> <a href="https://github.com/AlmironLeandro/pedidosNow" target="_blank"
                            rel="noopener noreferrer">
                            <i class="fa-brands fa-github"></i>
                        </a></div>
                    <div> <a href="https://almironleandro.github.io/pedidosNow" target="_blank"
                            rel="noopener noreferrer"><i class="fa-solid fa-earth-americas"></i></a> </div>
                </div>




            </div>
        </div>

    </div>