<!-- <div class="decorate-bottom" style="height: 200px; overflow: hidden;"><svg viewBox="0 0 500 150"
        preserveAspectRatio="none" style="height: 100%; width: 100%;">
        <path d="M0.00,49.98 C149.99,150.00 271.49,-49.98 500.00,49.98 L500.00,0.00 L0.00,0.00 Z"
            style="stroke: none; fill:  rgba(61, 60, 60, 0.308);"></path>
    </svg></div> -->

<div class="grid">

    <div class="resume__container">

        <div class="flex__container">
            <div class="resume__education">
                <h1 class="education">My Education</h1>
                <div class="card">
                    <p class="period">2019 - Present</p>
                    <p class="title">Degree in computer science</p>
                    <p class="place">University of Hurlingham</p>
                    <p class="where">Argentina, Buenos aires</p>
                </div>

                <div class="card">
                    <p class="period">2019 - 2022</p>
                    <p class="title">Programming technician</p>
                    <p class="place">University of Hurlingham</p>
                    <p class="where">Argentina, Buenos aires</p>
                </div>
            </div>



            <div class="resume__experience">
                <h1 class="education">My Experience</h1>
                <div class="card">
                    <p class="period">2019 - Present</p>
                    <p class="title">Full stack developer</p>
                    <p class="place">University of Hurlingham</p>
                    <p class="where">Argentina, Buenos aires</p>
                </div>
            </div>
        </div>





        <div class="resume__experience"></div>
    </div>







    <!-- <div class="resume__container">
        <div class="title__shadow">Summary
            <div class="title__front">Resume</div>
        </div>
        <div class="resume__myeducation">
            <div class="myeducation__title title">My Education</div>
            <li class="resume__card">
                <div class="line-h"></div>
                Degree in computer science
                <p>University of Hurlingham</p>
                <p>Argentina, Buenos aires</p>
                <p>2019 - Present</p>
            </li>
            <br>
            <br>
            <li class="resume__card">
                <div class="line-h"></div>
                Programming technician
                <p>University of Hurlingham</p>
                <p>Period: 2019 - 2022</p>
            </li>
        </div>
        <div class="resume__myexperience">
            <div class="myexperience__title title">My Experience</div>
            <li class="resume__card">
                <div class="line-h"></div>
                Full stack developer
                <p>Municipio de Hurlingham</p>
                <p class="job__description">In this job I worked on this tecnologies:
                </p>
                <ul class="worked__tecnologies">
                    <li>Angular</li>
                    <li>Typescript</li>
                    <li>SQL SERVER</li>
                    <li>.net</li>
                </ul>
            </li>
        </div>
     
    </div> -->
</div>