<!-- <div class="decorate-bottom" style="height: 200px; overflow: hidden;"><svg viewBox="0 0 500 150"
        preserveAspectRatio="none" style="height: 100%; width: 100%;">
        <path d="M0.00,49.98 C149.99,150.00 271.49,-49.98 500.00,49.98 L500.00,0.00 L0.00,0.00 Z"
            style="stroke: none; fill:  rgba(61, 60, 60, 0.308);"></path>
    </svg></div> -->

<div class="grid">
    <div class="resume__container">
        <div class="title__shadow">Summary
            <div class="title__front">Resume</div>
        </div>
        <div class="resume__myeducation">
            <div class="myeducation__title title">My Education</div>
            <li class="resume__card">
                <div class="line-h"></div>
                Degree in computer science
                <p>University of Hurlingham</p>
                <p>international University Lisque persius interesset his et, in quot quidam persequeris vim, ad mea
                    essent possim iriure.</p>
            </li>
            <br>
            <br>
            <li class="resume__card">
                <div class="line-h"></div>
                Programming technician
                <p>University of Hurlingham</p>
                <p>international University Lisque persius interesset his et, in quot quidam persequeris vim, ad mea
                    essent possim iriure.</p>
            </li>
        </div>
        <div class="resume__myexperience">
            <div class="myexperience__title title">My Experience</div>
            <li class="resume__card">
                <div class="line-h"></div>
                Full stack developer
                <p>Municipio de Hurlingham</p>
                <p>international University Lisque persius interesset his et, in quot quidam persequeris vim, ad mea
                    essent possim iriure.</p>
            </li>
        </div>
        <!-- <button>Courses taken</button> -->
    </div>
</div>